<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('mongoid.attributes.category.name') %>:</strong>
  <%= @category.name %>
</p>
<p>
  <strong><%= t('mongoid.attributes.category.examples') %>:</strong>
  <%= @category.examples %>
</p>
<p>
  <strong><%= t('mongoid.attributes.category.description') %>:</strong>
  <%= @category.description %>
</p>
<p>
  <strong>Created At:</strong>
  <%= l(@category.created_at, format: :long) if @category.created_at %>
</p>
<p>
  <strong>Updated At:</strong>
  <%= l(@category.updated_at, format: :long) %>
</p>

<%= link_to t('action.edit'), edit_category_path(@category) %> |
<%= link_to t('action.destroy'), categories_path(@category), method: :delete, data: { confirm: t('action.confirmation_delete') } %> |
<%= link_to t('action.back'), categories_path %>
