<!DOCTYPE html>
<html>
  <head>
    <title>WebStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <form class="search-form">
        <input type="search-form__input">
        <button class="search-form__button">Найти</button>
      </form>

      <nav class="menu">
        <ul class="menu__list menu__list_horizontal">
          <li class="menu__elem"><%= link_to 'Home', root_path, class: 'menu__link' %></li>
          <li class="menu__elem"><%= link_to 'Categories', categories_path, class: 'menu__link' %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>

    <footer>
      <p>&copy; Qotofey <%= Time.now.year %></p>
    </footer>
  </body>
</html>
